html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background: black;
    color: white;
}

a {
    color: #fff;
    text-transform: uppercase;
    clear: both;
    display: block;
    text-decoration: none;
    background: rgb(53, 49, 49);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    max-width: 500px;
}
a:hover{
    background:grey;
}

.main-container {
    max-width: 1000px;
    margin: auto;
    min-height: 100%;

    h1, h2 {
        text-transform: uppercase;
        font-weight: 100;
        padding-top: 20px;
        margin-top: 0;
    }

    .container {
        display: inline-block;
        margin: 10px;

        textarea {
            height: 200px;
            width: 300px;
            font-family: 'Lucida Console';
            line-height: 18px;
        }
    }

    .button-container {
        clear: both;
        margin: auto;
    }

    button {
        min-height: 80px;
        min-width: 200px;
    }
}

.push, .footer {
    height: 80px;
}

.footer {
    position: relative;
    margin-top: -80px;
    overflow: hidden;
}

.length {
    display: inline-block;
    margin: auto;
    margin-bottom: 20px;
}
